<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NoteStorming 0.1</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/select2/select2.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="flagisv3App">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Flagis v0.1</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{{nav.active.notes}}"><a href="#/notes">Notes</a></li>
                <li class="{{nav.active.sources}}"><a href="#/sources">Sources</a></li>
                <li class="{{nav.active.consequences}}"><a href="#contact">Consequences</a></li>
                <li class="{{nav.active.people}}"><a href="#users">People</a></li>
                <li class="{{nav.active.help}}"><a href="#contact">HELP</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<!-- Add your site or application content here -->
<div class="container" ng-view=""></div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Sources</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="list-group-item-heading">List group item heading</h4>

                        <p class="list-group-item-text">...</p>
                    </a>
                    <a href="#" class="list-group-item ">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="list-group-item-heading">List group item heading</h4>

                        <p class="list-group-item-text">...</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="list-group-item-heading">List group item heading</h4>

                        <p class="list-group-item-text">...</p>
                    </a>

                    <div class="list-group-item">
                        <button type="button" class="btn btn-success btn-block">
                            <span class="glyphicon glyphicon-plus"></span> add source
                        </button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    
    function addKeyword(word)
{
document.getElementById('#keywords').innerHTML = 'hoi'
</script>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- external -->
<!--<script src="https://cdn.firebase.com/v0/firebase.js"></script>-->
<!-- endexternal -->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/momentjs/moment.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/select2/select2.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angular-ui-select2/src/select2.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/models/flagis-main.js"></script>
<script src="scripts/controllers/module.js"></script>
<script src="scripts/controllers/sources.js"></script>
<script src="scripts/controllers/notes.js"></script>
<script src="scripts/controllers/consequences.js"></script>
<script src="scripts/services/noteContainer.js"></script>
<script src="scripts/services/ngDebounce.js"></script>
<script src="scripts/filters/activedomain.js"></script>
<script src="scripts/filters/general.js"></script>
<script src="scripts/directives/general.js"></script>
<script src="scripts/app.js"></script>
<!-- endbuild -->
</body>
</html>
