<div class="row">
    <div class="col-sm-3">
        <!--Navigation-->
        <h2>Navigation </h2>
        <hr>
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#byImportance"
                   ng-click="noteFilter()"
                   data-toggle="tab"
                   tabbed>
                    Notes 
                </a>
            </li>
            <li>
                <a href="#byDomain2"
                   ng-click="noteFilter('domains')"
                   data-toggle="tab"
                   tabbed>
                    By Domain
                </a>
            </li>
            <li>
                <a href="#byTag2"
                   ng-click="noteFilter('tags')"
                   data-toggle="tab"
                   tabbed>
                    By Tag
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="byImportance">
                <div id="noteList1">
                    <div class="list-group">
                        <a href=""
                           class="list-group-item"
                           ng-repeat="note in noteContainer.notes| filter:noteContainer.search |
                                              activeDomain | orderBy:'importance'"
                           ng-class="{active: listNoteIsActive(note.id)}"
                           ng-click="noteContainer.loadNote(note.id)">
                            <span class="badge ">{{note.comments.length}}</span>
                            <h4 class="list-group-item-heading">{{note.name}}</h4>
                        </a>
                    </div>
                    <ul class="pager">
                        <li class="previous disabled"><a href="#">&larr; previous</a></li>
                        <li class="next"><a href="#">next &rarr;</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane" id="byDomain2">
                <div class="list-group" id="domainHolder">
                    <div ng-class="{active: listFilterIsActive(domain.name)}"
                         ng-repeat="domain in noteContainer.domains| orderBy:- 'count'"
                         ng-click="changeFilter(domain.name)">
                        <a class ="list-group-item"
                           data-toggle="collapse"
                           data-parent= "#domainHolder"
                           data-target= "#{{domain.name}}Domain">
                            <span class="badge">{{domain.count}}</span>
                            <h4 class="list-group-item-heading">{{domain.name}}</h4>
                        </a>
                        <div id="{{domain.name}}Domain" class="collapse">
                            <div class="list-group">
                                <a href=""
                                   class="list-group-item"
                                   ng-repeat="note in noteContainer.notes| filter:noteContainer.search |
                                          activeDomain | orderBy:'importance'"
                                   ng-class="{active: listNoteIsActive(note.id)}"
                                   ng-click="noteContainer.loadNote(note.id)">
                                    <span class="badge ">{{note.comments.length}}</span>
                                    <span class="list-group-item-heading">{{note.name}}</span>
                                    <!--<p class="list-group-item-text">amazing stuff is about to happen here</p>-->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="byTag2">
                <div ng-class="{active: listFilterIsActive(tag.name)}"
                     ng-repeat="tag in noteContainer.tags| orderBy:- 'count'"
                     ng-click="changeFilter(tag.name)">
                    <a class ="list-group-item"
                       data-toggle="collapse" 
                       data-parent="#byTag2"
                       data-target="#{{tag.name}}Tag">
                        <span class="badge">{{tag.count}}</span>
                        <h4 class="list-group-item-heading">{{tag.name}}</h4>
                    </a>

                    <div id="{{tag.name}}Tag" class="collapse out">
                        <div class="list-group">
                            <a href=""
                               class="list-group-item "
                               ng-repeat="note in noteContainer.notes| filter:noteContainer.search |
                                          activeDomain | orderBy:'importance'"
                               ng-class="{active: listNoteIsActive(note.id)}"
                               ng-click="noteContainer.loadNote(note.id)">
                                <span class="badge ">{{note.comments.length}}</span>
                                <span class="list-group-item-heading">{{note.name}}</span>
                                <!--<p class="list-group-item-text">amazing stuff is about to happen here</p>-->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <button type="button" class="btn btn-success btn-block" ng-click="newNote()">
                <span class="glyphicon glyphicon-plus"></span> New Note
            </button>
            <br>
            <form class="form-horizontal" role="search">
                <div class="form-group">
                    <label for="navSearch" class="control-label">
                        <span class="glyphicon glyphicon-search"></span>
                    </label>
                    <div class="col-sm-10">
                        <input id="navSearch" type="text"
                               class="form-control"
                               placeholder="any string"
                               ng-model="noteContainer.search.name">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Details -->
    <div class="col-sm-6" id="area-detail">
        <div class="row">
            <div class="col-xs-2">
                <h2>Details</h2>
            </div>
            <div class="col-xs-6">
                <h3><span class="label label-default">autosave enabled</span></h3>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn btn-danger btn-block" id="button-note-delete"
                        ng-click="removeNote()">
                    <span class="glyphicon glyphicon-minus"></span> Delete Note
                </button>
            </div>
        </div>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputTitle" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           id="inputTitle"
                           placeholder="title"
                           ng-model="noteContainer.active.name">
                </div>
            </div>
            <div class="form-group">
                <label for="noteDomains" class="col-sm-2 control-label">Domains</label>

                <div class="col-sm-10">
                    <input type="text" ui-select2="options.domains"
                           id="noteDomains"
                           class="fullWidth"
                           ng-model="noteContainer.active.domains"
                           data-placeholder="pick domains or create new ones">
                </div>
            </div>
            <div class="form-group">
                <label for="noteTags" class="col-sm-2 control-label">Tags</label>

                <div class="col-sm-10">
                    <input type="text" ui-select2="options.tags"
                           id="noteTags"
                           class="fullWidth"
                           ng-model="noteContainer.active.tags"
                           data-placeholder="pick tags or create new ones">
                </div>
            </div>
            <hr>
            <h2> </h2>
            <div class="form-group" id="area-ideas">
                <label class="col-sm-2 control-label">Ideas</label>
                <div class="col-sm-10">                    
                    <ul class="list-group">
                        <li class="list-group-item" id="area-ideabutton" ng-hide="new .idea">
                            <button type="button" class="btn btn-success btn-block" ng-click="make('idea')">
                                <span class="glyphicon glyphicon-plus"></span> New Idea
                            </button>
                        </li>
                        <li class="list-group-item" id="area-ideaform" ng-show="new .idea">
                            <div class="row">
                                <div class="col-xs-12">
                                    <textarea class="form-control" rows="1" ng-model="idea.content">

                                    </textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <select class="form-control" id="form-idea-mark" ng-model="idea.mark">
                                        <option value="0">grounded</option>
                                        <option value="1">inference</option>
                                        <option value="2">needs research</option>
                                        <option value="3">wild guess</option>
                                    </select>
                                </div>
                                <div class="col-xs-2" id="area-idea-icon-preview">
                                    <button type="button" class="btn btn-default" disabled="disabled">
                                        <span ng-class="noteContainer.getIdeaClasses(idea.mark)"></span>
                                    </button>
                                </div>
                                <div class="col-xs-5">
                                    <button type="submit"
                                            class="btn btn-success btn-block"
                                            ng-click="save('idea')">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" 
                            ng-repeat="(ideaIndex, idea) in noteContainer.active.ideas">
                            <button type="button"
                                    class="close"
                                    aria-hidden="true"
                                    ng-click="remove('idea', ideaIndex)">&times;</button>
                            <span class="glyphicon glyphicon-comment pull-right" 
                                  data-toggle="collapse"
                                  aria-hidden="true"
                                  data-target="#comment{{ideaIndex}}">
                                &nbsp;</span>
                            <span class="avatar color"
                                  style="background-color: {{authorColor(idea.author)}}"></span>
                            <span ng-class="noteContainer.getIdeaClasses(idea.mark)"></span>
                            {{idea.content}}
                            <div id="comment{{ideaIndex}}" class="collapse">
                                <div ng-hide="new .comment">
                                    <button type="button" class="btn btn-success pull-right" ng-click="make('comment')">
                                        <span class="glyphicon glyphicon-plus"></span> new comment
                                    </button>
                                </div>
                                <div class="list-group-item" id="area-commentform" ng-show="new .comment">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <textarea class="form-control" rows="1" ng-model="comment.message">

                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <button type="submit"
                                                    class="btn btn-success btn-block"
                                                    ng-click="save('comment')">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>  
                                <div class="list-group-item" ng-repeat="comment in noteContainer.active.comments">
                                    <button type="button"
                                            class="close"
                                            aria-hidden="true"
                                            ng-click="remove('comment', comment)">&times;</button>
                                    <p class="list-group-item-heading">
                                        <span class="avatar color"
                                              style="background-color: {{authorColor(comment.author)}}"></span>
                                        &nbsp; <a href="#">{{noteContainer.authors[comment.author].name}}</a> -
                                        <span am-time-ago="comment.datetime" class="text-muted"></span>
                                    </p>

                                    <p class="list-group-item-text">{{comment.message}}</p>
                                </div>
                                <br>
                                <div>   
                                    <span>
                                        Comments:
                                    </span>
                                    <div class="list-group">
                                        <p>Placeholder for comments</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group" id="area-note-buttons">
                <div class="col-xs-5 col-xs-offset-2">
                    <a class="btn btn-primary btn-block"
                       data-toggle="tab"
                       data-target="#notesSources"
                       href="#">
                        <span class="glyphicon glyphicon-book"></span> Note Sources
                    </a>
                </div>
                <div class="col-xs-5">
                    <a class="btn btn-primary btn-block"
                       data-toggle="tab"
                       data-target="#notesRelated"
                       href="#">
                        <span class="glyphicon glyphicon-link"></span> Related Notes
                    </a>
                </div>
            </div>
        </form>
    </div>
    <!--Sources-->
    <div class="col-sm-3"><h2>
            Sources
        </h2>
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#notesRelated"
                   data-toggle="tab"
                   tabbed>
                    Related 
                </a>
            </li>
            <li>
                <a href="#notesSources"
                   data-toggle="tab"
                   tabbed>
                    Sources
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="notesSources">

            </div>
            <div class="tab-pane active" id="notesRelated">
                <br> 
                <div class="tab-content">
                    <form id="keyForm" method="get" class="form" role="search" 
                          onsubmit="document.getElementById('keywords').innerHTML += 'hoi';
                                      this.reset();">
                        <div class="form-group">
                            <label for="sourceSearch" class="control-label">
                                <a href='' onclick='keyForm.submit();' class="glyphicon glyphicon-search"></a>
                            </label>
                            <div class="col-sm-10">
                                <input id='newWord'
                                       type="text"
                                       class="form-control" 
                                       placeholder="new keyword">
                                <input type='submit' class='btn hidden'>
                            </div>
                        </div>
                    </form>
                    <form>
                        <hr>
                        <div class="form-group">
                            <label for="keywords" class="control-label">
                                Keywords:
                            </label>
                            <br>
                            <div id="keywords" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary">
                                    <input type="checkbox" name="options" id="option1"> Keyword 1
                                </label>
                                <label class="btn btn-primary">
                                    <input type="checkbox" name="options" id="option2"> Keyword 2
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="authors" class="control-label">
                                Authors:
                            </label>
                            <br>
                            <div id="authors">
                                <a href="#" id="option1"> Author 1</a>
                                <a href="#" id="option2"> Author 2</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="articles" class="control-label">
                                Articles:
                            </label>
                            <br>
                            <div id="articles" class='list-group'>
                                <a class='list-group-item'
                                   data-toggle="tooltip"
                                   title="article1Abstract">
                                    <div>
                                        <span>
                                            Title1
                                        </span><span class='pull-right'>
                                            year1
                                        </span>
                                    </div>
                                    <div>
                                        <span>Authors1</span>
                                    </div>
                                </a>
                                <a class='list-group-item'
                                   data-toggle="tooltip"
                                   title="article2Abstract">
                                    <div>
                                        <span>
                                            Title2
                                        </span><span class='pull right'>
                                            year2
                                        </span>
                                    </div>
                                    <div>
                                        <span>Authors2</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="list-group tab-content hidden">
                    <div class="list-group-item">
                        <div>
                            <span class="list-group-item-text dropdown-toggle" data-toggle="dropdown" data-target="#">
                                Source1
                                <span class="caret "></span>
                            </span>
                            <ul class="dropdown-menu" id="parent">
                                <li>
                                    <a data-target="#noteTopics"
                                       data-toggle="collapse"
                                       data-parent="#parent">
                                        Topics
                                    </a>
                                </li>
                                <li>
                                    <a data-target="#noteArticles"
                                       data-toggle="collapse"
                                       data-parent="#parent">
                                        Articles
                                    </a>
                                </li>
                                <li><a data-target="#noteAuthors"
                                       data-toggle="collapse"
                                       data-parent="#parent">
                                        Authors
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div id="noteDetails">
                        <div id="noteTopics" class="collapse">
                            <h4>topics</h4>
                        </div>
                        <div id="noteArticles" class="collapse">
                            <h4>articles</h4>
                        </div>
                        <div id="noteAuthors" class="collapse">
                            <h4>authors:</h4>
                            <span>first name</span>
                            <span>last name</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
